## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [8]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [58]:
sample_list_1=[]

for i in range(80):
    r=random.randint(0,100)
    if r not in sample_list_1:
        sample_list_1.append(r)

print(sample_list_1)

[31, 23, 57, 6, 42, 43, 7, 38, 83, 5, 68, 44, 20, 81, 19, 75, 99, 1, 66, 62, 17, 49, 34, 96, 76, 64, 92, 85, 65, 39, 12, 79, 98, 32, 13, 33, 50, 25, 0, 60, 14, 8, 53, 63, 78, 93, 27, 87, 22, 90, 73, 24, 84, 55, 67, 48, 52, 88, 11]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [59]:
set1=set(sample_list_1)
print(set1)
len(set1)

{0, 1, 5, 6, 7, 8, 11, 12, 13, 14, 17, 19, 20, 22, 23, 24, 25, 27, 31, 32, 33, 34, 38, 39, 42, 43, 44, 48, 49, 50, 52, 53, 55, 57, 60, 62, 63, 64, 65, 66, 67, 68, 73, 75, 76, 78, 79, 81, 83, 84, 85, 87, 88, 90, 92, 93, 96, 98, 99}

59

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [60]:
sample_list_2 = [(*range(0,100,1))]

print(random.choices(sample_list_1, k = 80))

[79, 1, 60, 90, 6, 7, 27, 25, 84, 81, 17, 67, 5, 39, 92, 85, 79, 12, 57, 65, 27, 7, 85, 93, 67, 76, 27, 73, 62, 62, 63, 34, 84, 87, 68, 81, 78, 19, 44, 55, 44, 25, 27, 83, 31, 43, 53, 7, 27, 23, 67, 75, 85, 78, 24, 93, 60, 24, 49, 12, 55, 67, 96, 87, 14, 19, 75, 7, 44, 79, 67, 81, 60, 42, 90, 78, 44, 7, 0, 48]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [61]:
set2=set(sample_list_2)
len(set2)

100

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [62]:
def non_match_elements(list_a, list_b):
    set3 = []
    for i in list_a:
        if i not in list_b:
            set3.append(i)
    return set3
        
 
list_a = list(set1)
list_b = list(set2)
 
set3 = non_match_elements(list_a, list_b)
print("No match elements: ", set3)

No match elements:  []

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [63]:
def non_match_elements(list_a, list_b):
    set4 = []
    for i in list_b:
        if i not in list_a:
            set4.append(i)
    return set4
        
 
list_a = list(set1)
list_b = list(set2)
 
set4 = non_match_elements(list_a, list_b)
print("No match elements: ", set4)

No match elements:  [2, 3, 4, 9, 10, 15, 16, 18, 21, 26, 28, 29, 30, 35, 36, 37, 40, 41, 45, 46, 47, 51, 54, 56, 58, 59, 61, 69, 70, 71, 72, 74, 77, 80, 82, 86, 89, 91, 94, 95, 97]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [64]:
def shared_elements(list_a, list_b):
    set5 = []
    for i in list_a:
        if i in list_b:
            set5.append(i)
    return set5
        
 
list_a = list(set1)
list_b = list(set2)
 
set5 = shared_elements(list_a, list_b)
print("Shared elements: ", set5)

Shared elements:  [0, 1, 5, 6, 7, 8, 11, 12, 13, 14, 17, 19, 20, 22, 23, 24, 25, 27, 31, 32, 33, 34, 38, 39, 42, 43, 44, 48, 49, 50, 52, 53, 55, 57, 60, 62, 63, 64, 65, 66, 67, 68, 73, 75, 76, 78, 79, 81, 83, 84, 85, 87, 88, 90, 92, 93, 96, 98, 99]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [65]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

59
100
0
41
59

#### Create an empty set called `set6`.

In [66]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [67]:
set3=set(set3)
print(set3)
set5=set(set5)
print(set5)

set()
{0, 1, 5, 6, 7, 8, 11, 12, 13, 14, 17, 19, 20, 22, 23, 24, 25, 27, 31, 32, 33, 34, 38, 39, 42, 43, 44, 48, 49, 50, 52, 53, 55, 57, 60, 62, 63, 64, 65, 66, 67, 68, 73, 75, 76, 78, 79, 81, 83, 84, 85, 87, 88, 90, 92, 93, 96, 98, 99}

In [68]:
set6.update(set5)
print(set6)

{0, 1, 5, 6, 7, 8, 11, 12, 13, 14, 17, 19, 20, 22, 23, 24, 25, 27, 31, 32, 33, 34, 38, 39, 42, 43, 44, 48, 49, 50, 52, 53, 55, 57, 60, 62, 63, 64, 65, 66, 67, 68, 73, 75, 76, 78, 79, 81, 83, 84, 85, 87, 88, 90, 92, 93, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [69]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [70]:
set1.issubset(set2)

True

In [71]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [72]:
Union1=set3.union(set4,set5)

Union2=Union1.union(set1,set2)
print(Union2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [76]:
#pop removes a radom element.
remove.set(0)
print(set1)

{1, 5, 6, 7, 8, 11, 12, 13, 14, 17, 19, 20, 22, 23, 24, 25, 27, 31, 32, 33, 34, 38, 39, 42, 43, 44, 48, 49, 50, 52, 53, 55, 57, 60, 62, 63, 64, 65, 66, 67, 68, 73, 75, 76, 78, 79, 81, 83, 84, 85, 87, 88, 90, 92, 93, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [86]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_set1=list(set1)

NameError: name 'list__set1' is not defined